body {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.header-ot {
  display: flex
}
.left{
  /* align-content:space-between; */
  width: 30%;
}
.left img {
  width: 80%;
}
.center{
  /* align-content:space-between; */
  width:35%;
  justify-content: center;
  align-items: center;
  margin: 0;
}